.card { 
    background: rgb(93, 92, 92);
    border-radius: 5px;
    width: 200px;
    height: 380px;
    margin: 20px;
}

.card:hover{
    transform: translateY(-3px);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.6);
}